<!DOCTYPE html>
<html>
    <%- include ("partials/head.ejs") %>
<body class="hold-transition light-mode sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
  <div class="wrapper">
    <%- include ("partials/navbar.ejs") %>
    <%- include ("partials/sidebar.ejs") %>
    <!-- Content Wrapper. Contains page content -->
    <!-- Content Wrapper. Contains page content -->
    <%- include ("contents/daftar_anggota_content.ejs") %>
    <script>
        $(function () {
            $("#tabel_daftar_anggota").DataTable({
                "responsive": true,
                "lengthChange": true, // Setel menjadi true untuk menampilkan dropdown "Show entries"
                "autoWidth": false,
                "buttons": [
                  "copy", 
                  "csv", 
                  "excel", 
                  "pdf", 
                  "print",
                  // "colvis"
                ],
                "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]], // Atur opsi panjang halaman yang diinginkan
                "paging": true,
                "ordering": true,
                "info": true,
            }).buttons().container().appendTo('#tabel_daftar_anggota_wrapper .col-md-6:eq(0)');
        });
    </script>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <!-- /.content-wrapper -->
  </div>
  <%- include ("partials/footer.ejs") %>
</body>
</html>